{% extends 'main/layout/base.html' %}
{% load static %}
{% block body_block %}

<h4 style="padding-left: 350px;">CUSTOMER DETAILS</h4>

<div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-borderless">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}

                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.mobile }}</td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}