{% extends 'user/layout/base.html' %}
{% load static %}
{% block body_block %}

<style>
    div.card{
        padding: 15px 22px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
        margin: 15px 0;
        transition: 0.3s ease;
        position: relative;
    }
    .card-header.bg-info.text-white {
    border-radius: 10px 10px 0 0;
    }
</style>

    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Profile<span>.</span></h2>
                        <a href="#">Home</a>
                        <a href="#">Change Password</a>
                        <!-- <a class="active" href="#">Night Dresses</a> -->
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="{% static 'user/img/add.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->
    
    <section>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                            <h4 class="mb-0">Change Password</h4>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
    
                                <button type="submit" class="btn btn-info text-white">Change Password</button>
                                <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <pre>
        {{ request.messages }}
    </pre>
    

{% endblock %}